<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    {% load  static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{%static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{%static "css/style.css"%}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{%static "js/jquery.min.js"%}"></script>
    <script type="text/javascript" src="{%static "/js/bootstrap.min.js"%}"></script>
    <link href="{%static "/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
    <link href="{%static "css/bootstrap.css"%}" rel="stylesheet" type="text/css">
    <script src="{%static "js/dist/echarts.js"%}"></script>
    <script src="{%static "/js/mint.js"%}"></script>


</head>
<style>
#cy {
    width: 700px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
}
</style>
<body>
  <div class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span>Lnc2Catlas</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li class="active ">
              <a href="/home/">Home</a>
            </li>
            <li>
              <a href="/browse/1/20/">Browse</a>
            </li>
            <li>
              <a href="/search/">Search</a>
            </li>
            <li>
              <a href="/download/">Download</a>
            </li>
            <li>
              <a href="/help/">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- yixiaweineirong -->
    <div class="section section-info">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h1 class="text-center">Lnc2Catlas</h1>
           <p class="lead text-center">An atlas of long noncoding RNAs associated with risk to cancer</p>
         </div>
       </div>
     </div>
   </div>
   <div class="section">
       <div class="container">
           <div class="row">

             <div class=" col-md-6">
               <form role="form" action="" method="post" name="form1">
                 <div class="form-group">
                   <div class="input-group">
                     <input HaoyuSug='A8A4EBDCB13A40AAB7CFB2ED12F273CE' id="txtKeyword" style="left:250px; width:600px" class="form-control" name="content" value="Lncrna Id or SNP Id or Disease" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}">
                     <span class="input-group-btn">
                       <button class="btn btn-success" type="submit" onclick="setaction()" style="left:250px; top:0px;">Search</a>
                     </span>
                     <script type="text/javascript">
                     function setaction(){
                         var conten = form1.content.value.replace("for example:", "");
                         if(conten=="")
                         {
                             alert("Please input what you want to search")
                         }
                         else
                          {
                              var tem = "/searchby/"+String(conten)+"/";
                              document.form1.action=tem;
                          }
                         form1.submit();
                     }
                     </script>
                   </div>
                 </div>
               </form>
             </div>
           </div>

         </div>
       </div>
   <div class="section">
       <div class="container">
         <div class="row">
           <div class="col-md-7">
             <div id="pie" style="width:700px;height:700px">
             <script type="text/javascript">
             require.config({
                 paths:{echarts: "{%static "js/dist/"%}"}
             });
             require(['echarts', 'echarts/chart/pie', ],
                 function(ec){
                     var myChart = ec.init(document.getElementById('pie'), 'mint');
                     option = {
                         tooltip : {
                             trigger: 'item',
                             formatter: "{a} <br/>{b} : {c} ({d}%)"
                         },
                         calculable : false,
                         series : [
                             {
                                 type:'pie',
                                 selectedMode: 'single',
                                 radius : [0, 120],
                                 x: '20%',
                                 width: '40%',
                                 funnelAlign: 'right',
                                 max: 1548,
                                 data:[
                                     {value:544, name:'Adrenal Gland'},
                                     {value:324, name:'Nervous System'},
                                     {value:1478, name:'Kidney'},
                                     {value:135 , name:'Bone'},
                                     {value:335, name:'Blood'},
                                     {value:234, name:'Bladder'},
                                     {value:135, name:'Breast'},
                                     {value:154, name:'Cervix'},
                                     {value:335, name:'Bile Duct'},
                                     {value:464, name:'Colorectal'},
                                     {value:135, name:'Eye'},
                                     {value:135, name:'Esophagus'},
                                     {value:489, name:'Brain'},
                                     {value:335, name:'Head and Neck'},
                                     {value:154, name:'Bone Marrow'},
                                     {value:310, name:'Liver'},
                                     {value:369, name:'Lung'},
                                     {value:154, name:'Pleura'},
                                     {value:335, name:'Ovary'},
                                     {value:310, name:'Pancreas'},
                                     {value:135, name:'Prostate'},
                                     {value:335, name:'Soft Tissue'},
                                     {value:310, name:'Skin'},
                                     {value:234, name:'Stomach'},
                                     {value:135, name:'Testis'},
                                     {value:154, name:'Thyroid'},
                                     {value:335, name:'Thymus'},
                                     {value:544, name:'Uterus'},
                                     {value:234, name:'Lymph Nodes'}
                                 ]
                             },
                             {
                                 type:'pie',
                                 radius : [240, 260],

                                 //roseType:'area',
                                 //x: '50%',
                                 //max: 40,
                                 //sort : 'ascending',
                                 width: '35%',
                                 funnelAlign: 'left',
                                 max: 1048,
                                 itemStyle : {
                                     normal : {
                                         label : {
                                             show : false
                                         },
                                         labelLine : {
                                             show : false
                                         }
                                     }
                                 },
                                 data:[
                                     {value:310, name:'Adrenocortical Carcinoma'},
                                     {value:234, name:'Pheochromocytoma and Paraganglioma'},

                                     {value:234, name:'Neuroblastoma'},

                                     {value:310, name:'Clear Cell Sarcoma of the Kidney'},
                                     {value:154, name:'Rhabdoid Tumor'},
                                     {value:335, name:'High-Risk Wilms Tumor'},
                                     {value:310, name:'Kidney Chromophobe'},
                                     {value:234, name:'Kidney Renal Clear Cell Carcinoma'},
                                     {value:135, name:'Kidney Renal Papillary Cell Carcinoma'},

                                     {value:135, name:'Osteosarcoma'},

                                     {value:335, name:'Acute Myeloid Leukemia'},

                                     {value:234, name:'Bladder Urothelial Carcinoma'},

                                     {value:135, name:'Breast Invasive Carcinoma'},

                                     {value:154, name:'Cervical Squamous Cell Carcinoma and Endocervical Adenocarcinoma'},

                                     {value:335, name:'Cholangiocarcinoma'},

                                     {value:310, name:'Colon Adenocarcinoma'},
                                     {value:154, name:'Rectum Adenocarcinoma'},

                                     {value:135, name:'Uveal Melanoma'},

                                     {value:135, name:'Esophageal Carcinoma'},

                                     {value:154, name:'Glioblastoma Multiforme'},
                                     {value:335, name:'Brain Lower Grade Glioma'},

                                     {value:335, name:'Head and Neck Squamous Cell Carcinoma'},

                                     {value:154, name:'Acute Myeloid Leukemia'},

                                     {value:310, name:'Liver Hepatocellular Carcinoma'},

                                     {value:234, name:'Lung Adenocarcinoma'},
                                     {value:135, name:'Lung Squamous Cell Carcinoma'},

                                     {value:154, name:'Mesothelioma'},

                                     {value:335, name:'Ovarian Serous Cystadenocarcinoma'},

                                     {value:310, name:'Pancreatic Adenocarcinoma'},

                                     {value:135, name:'Prostate Adenocarcinoma'},


                                     {value:335, name:'Sarcoma'},

                                     {value:310, name:'Skin Cutaneous Melanoma'},

                                     {value:234, name:'Stomach Adenocarcinoma'},

                                     {value:135, name:'Testicular Germ Cell Tumors'},

                                     {value:154, name:'Thyroid Carcinoma'},

                                     {value:335, name:'Thymoma'},

                                     {value:310, name:'Uterine Corpus Endometrial Carcinoma'},
                                     {value:234, name:'Uterine Carcinosarcoma'},

                                     {value:234, name:'Lymphoid Neoplasm Diffuse Large B-cell Lymphoma'}
                                 ]
                             }
                         ]
                     };
                     myChart.setOption(option);
                     var ecConfig = require('echarts/config');
                     function eConsole(param){
                         var name = param.name;
                         if(name=='Acute Myeloid Leukemia'){
                             top.location.href="/searchfor/Acute Myeloid Leukemia"
                         }
                         if(name=='Clear Cell Sarcoma of the Kidney') {
                             top.location.href="/searchfor/Clear Cell Sarcoma of the Kidney"
                         }
                         if(name=='Neuroblastoma') {
                             top.location.href="/searchfor/Neuroblastoma"
                         }
                         if(name=='Osteosarcoma') {
                             top.location.href="/searchfor/Osteosarcoma"
                         }
                         if(name=='Rhabdoid Tumor') {
                             top.location.href="/searchfor/Rhabdoid Tumor"
                         }
                         if(name=='High-Risk Wilms Tumor') {
                             top.location.href="/searchfor/High-Risk Wilms Tumor"
                         }
                         if(name=='Adrenocortical Carcinoma') {
                             top.location.href="/searchfor/Adrenocortical Carcinoma"
                         }
                         if(name=='Bladder Urothelial Carcinoma') {
                             top.location.href="/searchfor/Bladder Urothelial Carcinoma"
                         }
                         if(name=='Breast Invasive Carcinoma') {
                             top.location.href="/searchfor/Breast Invasive Carcinoma"
                         }
                         if(name=='Cervical Squamous Cell Carcinoma and Endocervical Adenocarcinoma') {
                             top.location.href="/searchfor/Cervical Squamous Cell Carcinoma and Endocervical Adenocarcinoma"
                         }
                         if(name=='Cholangiocarcinoma') {
                             top.location.href="/searchfor/Cholangiocarcinoma"
                         }
                         if(name=='Colon Adenocarcinoma') {
                             top.location.href="/searchfor/Colon Adenocarcinoma"
                         }
                         if(name=='Lymphoid Neoplasm Diffuse Large B-cell Lymphoma'){
                             top.location.href="/searchfor/Lymphoid Neoplasm Diffuse Large B-cell Lymphoma"
                         }
                         if (name=='Esophageal Carcinoma'){
                             top.location.href="searchfor/Esophageal Carcinoma"
                         }
                         if(name=='Glioblastoma Multiforme') {
                             top.location.href="/searchfor/Glioblastoma Multiforme"
                         }
                         if(name=='Head and Neck Squamous Cell Carcinoma') {
                             top.location.href="/searchfor/Head and Neck Squamous Cell Carcinoma"
                         }
                         if(name=='Kidney Chromophobe') {
                             top.location.href="/searchfor/Kidney Chromophobe"
                         }
                         if(name=='Kidney Renal Clear Cell Carcinoma') {
                             top.location.href="/searchfor/Kidney Renal Clear Cell Carcinoma"
                         }
                         if(name=='Kidney Renal Papillary Cell Carcinoma') {
                             top.location.href="/searchfor/Kidney Renal Papillary Cell Carcinoma"
                         }
                         if(name=='Acute Myeloid Leukemia') {
                             top.location.href="/searchfor/Acute Myeloid Leukemia"
                         }
                         if(name=='Brain Lower Grade Glioma') {
                             top.location.href="/searchfor/Brain Lower Grade Glioma"
                         }
                         if(name=='Liver Hepatocellular Carcinoma') {
                             top.location.href="/searchfor/Liver Hepatocellular Carcinoma"
                         }
                         if(name=='Lung Adenocarcinoma') {
                             top.location.href="/searchfor/Lung Adenocarcinoma"
                         }
                         if(name=='Lung Squamous Cell Carcinoma') {
                             top.location.href="/searchfor/Lung Squamous Cell Carcinoma"
                         }
                         if(name=='Mesothelioma') {
                             top.location.href="/searchfor/Mesothelioma"
                         }
                         if(name=='Ovarian Serous Cystadenocarcinoma') {
                             top.location.href="/searchfor/Ovarian Serous Cystadenocarcinoma"
                         }
                         if(name=='Pancreatic Adenocarcinoma') {
                             top.location.href="/searchfor/Pancreatic Adenocarcinoma"
                         }
                         if(name=='Pheochromocytoma and Paraganglioma') {
                             top.location.href="/searchfor/Pheochromocytoma and Paraganglioma"
                         }
                         if(name=='Prostate Adenocarcinoma') {
                             top.location.href="/searchfor/Prostate Adenocarcinoma"
                         }
                         if(name=='Rectum Adenocarcinoma') {
                             top.location.href="/searchfor/Rectum Adenocarcinoma"
                         }
                         if(name=='Sarcoma') {
                             top.location.href="/searchfor/Sarcoma"
                         }
                         if(name=='Skin Cutaneous Melanoma') {
                             top.location.href="/searchfor/Skin Cutaneous Melanoma"
                         }if(name=='Stomach Adenocarcinoma') {
                             top.location.href="/searchfor/Stomach Adenocarcinoma"
                         }
                         if(name=='Testicular Germ Cell Tumors') {
                             top.location.href="/searchfor/Testicular Germ Cell Tumors"
                         }
                         if(name=='Thyroid Carcinoma') {
                             top.location.href="/searchfor/Thyroid Carcinoma"
                         }
                         if(name=='Thymoma') {
                             top.location.href="/searchfor/Thymoma"
                         }
                         if(name=='Uterine Corpus Endometrial Carcinoma') {
                             top.location.href="/searchfor/Uterine Corpus Endometrial Carcinoma"
                         }
                         if(name=='Uterine Carcinosarcoma') {
                             top.location.href="/searchfor/Uterine Carcinosarcoma"
                         }
                         if(name=='Uveal Melanoma') {
                             top.location.href="/searchfor/Uveal Melanoma"
                         }

                     }
                     myChart.on(ecConfig.EVENT.CLICK, eConsole);
                     myChart.on('mouseover', function(params) {
                         option.series[0].data[params.dataIndex].label.normal={
                             show: true,
                             textStyle: {
                                 fontSize: '35',
                                 fontWeight: 'normal'
                             }
                         }
                         mychart.setOption(option);
                     });
                 }
             );
             </script>
         </div>
           </div>
           <div class="col-md-1"></div>
           <div class="col-md-4">
            <h1 class="text-center">A title</h1>
            <p><br></p>
            <p class="lead">  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
              elementum semper nisi.</p>
          </div>
         </div>
       </div>
   </div>
          <!-- <div id="cy" style="width:700px;height:700px">
          <script>
          $.getJSON('/static/data0.json', function(datas){
              var cy = cytoscape({
                  container: document.getElementById('cy'),
                  elements:datas,
                  style: [
                      {
                          selector: 'node',
                          style: {
                              'width':10,
                              'height':10,
                              //shape: 'hexagon',
                              'background-color': '#6FB1FC',//'#EDA1ED', '#86B342', '#F5A45D'
                              //label: 'data(id)'
                          }
                      },
                      {
                          selector : 'edge',
                          style : {
                              'width' : 0.5,
                              //'line-color':'#B1C1F2'
                          }
                      }
                  ],
                  layout: {
                      name:'cose'
                  }
              });
          })
          </script>
          </div> -->
    <footer class="section section-info footer ">
      <div class="container ">
        <div class="row ">
          <div class="col-md-6">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
              <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
              <br>Ut enim ad minim veniam, quis nostrud</p>
              <p><br><br></p>
            <h4>To cite Lnc2Catlas</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
              <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
              <br>Ut enim ad minim veniam, quis nostrud</p>
          </div>
          <div class="col-md-6">
              <div>
                  <script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=0q6vyeakjac&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
              </div>
          </div>
        </div>
      </div>
    </footer>

</body>
<script type="text/javascript" charset="utf-8" src="http://www.92find.com/inteltip.js"></script>
</html>
