<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    {% load  static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{%static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{%static "css/style.css"%}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{%static "js/jquery.min.js"%}"></script>
    <link href="{%static "/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
    <link href="{%static "css/bootstrap.css"%}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span>Lnc2Catlas</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li>
              <a href="/home/">Home</a>
            </li>
            <li>
              <a href="/browse/1/20/">Browse</a>
            </li>
            <li class="active ">
              <a href="/search/">Search</a>
            </li>
            <li>
              <a href="/download/">Download</a>
            </li>
            <li>
              <a href="/help/">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
     <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Search
              <br>
            </h1>
          </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <select style="font-size:20px;">
                    <option value="1">lncrna</option>
                    <option value="2">SNP</option>
                    <option value="3">disease</option>
                </select>
                </div>
          <div class=" col-md-6">
            <form role="form" action="/search/" method="post">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" name="content">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Search</a>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
          <div class="col-md-6">
            <p><font size=4>
                Please input the name of a long non-conding RNA or a disease.</font>
                <br> <font size=4>Such as "ENST0000417324.1" or "lung cancer".</font>
            </p>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
</body>
</html>
